* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  margin: 50px 10%;
  cursor: pointer;
}
.reload-click {
  background-color: rgb(238, 91, 91);
  cursor: pointer;
}
.photos {
  width: 90%;
  margin: 50px 5% 0px 5%;
  height: auto;
}
/* #countries {
  display: flex;
  flex-wrap: wrap;
}
#countries #see-more {
  background-color: rgb(207, 207, 214);
  border-radius: 10px;
  padding: 10px;
}
#countries #remove-element {
  background-color: brown;
  border-radius: 10px;
  padding: 10px;
}
.country {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 150px;
}
.btns {
  display: flex;
  align-items: center;
}
#see-more {
  background-color: bisque;
  padding: 5px;
}
#remove {
  background-color: aqua;
  padding: 5px; */

section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn {
  background-color: lightskyblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.homework {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 50px auto;
}
.random-img {
  width: 100%;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.countries {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}

.country {
  max-width: 300px;
}

.country img {
  width: 100%;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.see-more {
  background-color: lightgreen;
}
.remove-card {
  background-color: darkred;
}
table {
  width: 100%;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
