* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  margin: 50px 10%;
}
.reload-click {
  background-color: rgb(238, 91, 91);
}
.photos {
  width: 90%;
  margin: 50px 5% 0px 5%;
  height: auto;
}
#countries {
  display: flex;
  flex-wrap: wrap;
}
#countries #see-more {
  background-color: rgb(207, 207, 214);
  border-radius: 10px;
  padding: 10px;
}
#countries #remove-element {
  background-color: brown;
  border-radius: 10px;
  padding: 10px;
}
